.home-page {
    padding: 1rem 8%;
    display: flex;
    justify-content: center;
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    min-height: 100vh;
}